name: build

on:
  push:

env:
  OWNER: ${{ github.repository_owner }}
  FILE: mathjax
  IMAGE: ghcr.io/${{ github.repository_owner }}/mathjax
  BUILDKIT_PROGRESS: plain
  BUILDX_NO_DEFAULT_ATTESTATIONS: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write
      
jobs:
  
  build:
    runs-on: ubuntu-latest

    timeout-minutes: 30

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Init
        run: ./bin/init.sh
        shell: bash

      - name: Build the Docker image
        run: docker buildx bake test

      - name: Test run
        run: docker compose --file docker-compose.test.yml run sut

      - name: Log into registry
        if: github.ref_name == 'main'
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Publish the Docker image
        if: github.ref_name == 'main'
        run: docker buildx bake build

  release:
    needs: build

    runs-on: ubuntu-latest
    if: github.ref_name == 'main'

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Init
        run: ./bin/init.sh

      - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          allowUpdates: true
          body: See https://github.com/mathjax/MathJax/releases/tag/${{ env.VERSION }} for more changes
          commit: ${{ github.sha }}
          name: ${{ env.VERSION }}
          tag: v${{ env.VERSION }}
          token: ${{ secrets.GITHUB_TOKEN }}
