name: build

on:
  push:

env:
  DRY_RUN: ${{ github.ref_name != github.event.repository.default_branch && !startsWith(github.ref_name, 'maint/') }}
  OWNER: ${{ github.repository_owner }}
  FILE: mathjax
  IMAGE: ghcr.io/${{ github.repository_owner }}/mathjax
  BUILDKIT_PROGRESS: plain

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    timeout-minutes: 30

    permissions:
      attestations: write
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Init
        run: ./bin/init.sh
        shell: bash

      - name: Build the Docker image
        run: docker buildx bake test

      - name: Test run
        run: docker compose --file docker-compose.test.yml run sut

      - name: Log into registry
        if: env.DRY_RUN != 'true'
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Publish the Docker image
        id: publish
        if: env.DRY_RUN != 'true'
        run: |
          docker buildx bake --metadata-file /tmp/meta.json build
          jq . /tmp/meta.json
          digest=$(jq -r '.push_ghcr.["containerimage.digest"]' /tmp/meta.json)
          echo "digest=$digest" >> "$GITHUB_OUTPUT"

      - name: Sign the Docker image
        if: env.DRY_RUN != 'true'
        run: cosign sign --yes ${{ env.IMAGE }}@${{ steps.publish.outputs.digest }}

      - name: Attest the Docker image
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        if: env.DRY_RUN != 'true'
        with:
          subject-name: ${{ env.IMAGE }}
          subject-digest: ${{ steps.publish.outputs.digest }}
          push-to-registry: true

  release:
    needs: build

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Init
        run: ./bin/init.sh

      - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.
        if: env.DRY_RUN != 'true'
        with:
          allowUpdates: true
          body: See https://github.com/mathjax/MathJax/releases/tag/${{ env.VERSION }} for more changes
          commit: ${{ github.sha }}
          name: ${{ env.VERSION }}
          tag: v${{ env.VERSION }}
          token: ${{ secrets.GITHUB_TOKEN }}
